@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --gray-0: #F5F5F5;
    --gray-1: #E0E0E0;
    --gray-3: #828282;
    --green-0: #27AE60;
}

body {
    font-family: 'Inter', sans-serif;
    min-width: 365px;
    min-height: 790px;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--gray-0);
    align-items: center;
}

header h1 {
    font-size: 30px;
}

header span {
    font-size: 20px;
    color: #EB5757;
}

header input {
    border: 1px solid var(--gray-1);
    padding: 15px 20px;
    outline: none;
}

header button {
    border: none;
    background-color: var(--green-0);
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}